body {
	background-color: #17141f;
	font-size: 15px;
	padding-top:20px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	text-align: center;
	color: white;
}

body.dark {
	background-color: #17141f;
	color: white;
}

body.light {
	background-color: white;
	color: black;
}

.hidden {
	transition: all 2s;
	transform: translateX(-500px);
}

.alert {
	position: absolute;
}

input, select {
	width: 70%;
}
select {
	border-radius: 5px;
}

input[type="submit"] {
    width: 100px;
}