body {
	background-color: #17141f;
	color: white;
	font-size: 15px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body.light {
	background-color: white;
	color: black;
}

body.dark {
	background-color: #17141f;
	color: white;
}

div#stats {
	height: 100%;
}

.float {
	position: absolute;
	color: white;
}

.float-left {
	top: 10px;
	left: 25px;
}

.float-right {
	top: 10px;
	right: 25px;
}
.player {
	padding-top: 10px;
	width: 100%;
	float: left;
	text-align: center;
}

.user-avatar {
	width: 15%;
	position: absolute;
	left: 10px;
	top: 45px;
}

.username-header {
	font-size: 20px;
	font-weight: bold;
}

.rank-emblem {
	padding-top: 10px;
	max-height: 60px;
	max-width: 60px;
}

.operator-logo {
	max-width: 60px;
	max-height: 60px;
}

.operator.operator-atk {
	width: 50%;
	float: left;
}

.operator.operator-def {
	width: 50%;
	float: right;
}

hr.operators-separator {
	width: 75%;
}

.operators-header {
	margin-bottom: -5px;
	font-weight: bolder;
}

.hidden {
	transition: all 2s;
	transform: translateX(-500px);
}

.alert {
	position: absolute !important;
}

div#loading {
	width: 100vw;
	height: 100vh;
	padding-left: 37.5%;
	display: flex;
	align-items: center;
	align-self: center;
	overflow: hidden;
	animation-name: dot-intro;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.dot {
	box-sizing: content-box;
	position: relative;
	background: #fff;
	flex: 0 1 auto;
	min-width: 2px;
	max-width: 2px;
	min-height: 2px;
	max-height: 2px;
	margin: 5px;
	border-radius: 50%;
	border: 1px solid;
	border-color: rgba(255,255,255,0);
	background-clip: padding-box;
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.dot-0 {
	transform: scale(2,2)
}

.dot-1 {
	animation-delay: .20s;
}

.dot-2 {
	animation-delay: .4s;
}

.dot-3 {
	animation-delay: .60s;
}

.dot-4 {
	animation-delay: .8s;
}

@keyframes pulse {
	from {
		transform: scale(1,1);
		border-color: rgba(255,255,255,.01)
	}

	50% {
		transform: scale(1,1);
		border-color: rgba(255,255,255,.01)
	}

	60% {
		transform: scale(4,4);
		border-color: rgba(255,255,255,.2)
	}

	to {
		transform: scale(1,1);
		border-color: rgba(255,255,255,.01)
	}
}
